@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Schoolbell&display=swap');

.registerPage {
    height: 100vh;
    width: 100vw;
    /* background-color: white; */
    background-image: url("https://media.gettyimages.com/photos/red-brick-high-school-building-exterior-picture-id171306436?k=6&m=171306436&s=612x612&w=0&h=alQojJnb4yqK7b8dKXcgiYu_jwCoqjSa17-tn7z_5rY=");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    font-family: 'Schoolbell', cursive;

}

.register-form {
    width: 90%;
    margin: auto 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-title {
    font-size: 30px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.login {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    /* margin-left: 0px; */
}

.inputs {
    margin-bottom: 3%;
}

.input {
    width: 20%;
}

.form-inputs > input {
    margin-left: 0px;
}

.login-link {
color: white;
}

.register-button {
    margin: 0 auto;
    margin-bottom: 3%;
    width: 20%;
    background-color: rgb(100, 6, 6);
    background-color: rgb(100, 6, 6);
    border-radius: 8px;
    color: white;
    font-family: 'Schoolbell', cursive; 
    font-size: bold;
    padding: 2%;
}

@media only screen and (min-width: 768px) {
    .register-form {
        width: 65%;
        padding: 2%;    
    }

    .register-title {
        font-size: 50px;
    }

    .form-inputs,
    .login-link,
    .register-button {
        font-size: 25px;
    }

    .register-button {

        padding: 2%;
    }
    
    .input {
        width: 50%;
        padding: 1.5%;
        background-color: rgb(255, 255, 255, 0.7);
        font-family: 'Schoolbell', cursive;
        font-weight: bold;
    }
}