@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.student-form {
    margin: 5% auto;
}

.clipboard {
    text-align: center;
}

.form-clipboard {
    display: flex;
    flex-direction: column;
}

.new-title {
    margin-top: 5%;
    font-weight: bold;
}

.student-info-form {
    margin: 8% 0px;
    padding: 0px 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.column {
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    align-content: left;
}

.input {
    width: 55%;
    margin: 1% auto;
    margin-left: 5%;
    border-color: white;
}

.textarea {
    width: 90%;
    /* height: 50%; */
    border-color: rgb(0, 0, 0, 0);
    box-shadow:  inset 1px 1px 2px rgb(105,105,105);
}

/* .student-comments-form {
    text-align: center;
    display: block;
} */

.green-buttons {
    align-items: center;
    padding: 2%;
    color: white;
    font-weight: bold;
}

.student-button-div {
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
}

/* --------------------mini iPAD--------------------*/
@media only screen and (min-width: 600px) {
    .student-button-div {
        width: 30%
    }
}

/* --------------------iPAD--------------------*/
@media only screen and (min-width: 813px) {
    .student-button-div {
        width: 20%;
    }
}

/* --------------------MEDIUM DESKTOP-------------------- */
@media only screen and (min-width: 1500px) {
    
    .student-button-div {
        width: 30%;
    }

}