@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Schoolbell&display=swap');

.landingPage {
    height: 100vh;
    width: 100vw;
    /* background-image: url("https://media.gettyimages.com/photos/red-brick-high-school-building-exterior-picture-id171306436?k=6&m=171306436&s=612x612&w=0&h=alQojJnb4yqK7b8dKXcgiYu_jwCoqjSa17-tn7z_5rY=");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("https://media.gettyimages.com/photos/red-brick-high-school-building-exterior-picture-id171306436?k=6&m=171306436&s=612x612&w=0&h=alQojJnb4yqK7b8dKXcgiYu_jwCoqjSa17-tn7z_5rY=") no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.landingMessage {
width: 95%;
margin: auto;
text-align: center;
background-color: rgb(0, 0, 0, 0.5);
color: white;
}

.landing-title {
    font-size: 30px;
    font-family: 'Schoolbell', cursive;
}

.landing-subtitle {
    font-size: 15px;
}

/* --------------------iPAD-------------------- */
@media only screen and (min-width: 768px) {
    .landingMessage {
        width: 65%;
        padding: 5%;
    } 

    .landing-title {
        font-size: 40px;
    }

    .landing-subtitle {
        font-size: 25px;
    }
}

/* --------------------LAPTOP-------------------- */
@media only screen and (min-width: 1075px) {
    .landingMessage {
        width: 50%;
    } 

    .landing-title {
        font-size: 50px;
    }

    .landing-subtitle {
        font-size: 35px;
    }
}

/* --------------------DESKTOP-------------------- */
@media only screen and (min-width: 1700px) {
    .landingMessage {
        width: 35%;
        padding: 2%;
    } 

    .landing-title {
        font-size: 55px;
    }

    .landing-subtitle {
        font-size: 35px;
    }
}