@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* .clipboard{
    background-image: url(../../assets/clipboard.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 500px;
    width: 250px;
} */
p {
    font-family: 'Indie Flower', cursive;
    font-size: 13px;
    margin: 5px auto;
}

a { 
    text-decoration: none;
}

.showStudents {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url(../../assets/rosterbook-background.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    width:100%;
    text-align: center;
    display: grid;
    grid-template-areas:
    "C C C C"
    "C C C C"
    "C C C C"
    ". F P ."
    ". F P .";
    width: 100vh;
    /* margin-top: 5%; */
}

.roster-title {
    font-family: 'Schoolbell', cursive;
}

.clipboard-border {
    grid-area: C;
    margin: 13% 5%;
    width: 90vw;
    height: 75vh;
    background-color:rgb(105, 61, 11);
    margin-top: 5%;
    display: flex;

    /* background-image: url(../../assets/clipboard.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center; */
    /* margin: 0 auto;
    margin-top: 13%;
    display: flex;
    background-color: rgb(114, 56, 9);
    height: 75vh;
    width: 75vw; */
}

.clipboard {
    margin: auto;
    /* margin-top: auto; */
    padding-top: 2%;
    height: 85%;
    width: 80%;
    background-color: white;
    /* margin: auto;
    background-color: white;
    height: 90%;
    width: 90%; */
}

.column-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.students-list {
    display: flex;
    flex-direction: row;
    height: 75%;
    overflow: auto;
    justify-content: space-around;
}

/* .column-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */


.student {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-size: 10px;
    /* justify-content: space-between; */
}

.student-comments-form {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding-left: 5%;
}

.filterButtons-container {
    grid-area: F;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.periodButtons-container {
    grid-area: P;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.button {
    margin: 5% auto;
    border-radius: 10px;
    font-size: 15px;
    padding: 4px;
    font-family: 'Schoolbell', cursive;
    font-size: bold;
}

.red-buttons {
    background-color: red;
    border-color: red;
    color: white;
}

.green-buttons {
    background-color: green;
    border-color: green;
    color: white;
}

.addStudent-button {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Schoolbell', cursive;
    font-size: bold;
    margin-top: 2%;
    /* transition: all .2s ease-in;  */
}

/* .addStudent-button:hover {
    transform: scale(1.9);
} */

/* Media Query
after.showStudents {
    text-align: center;
    display: grid;
    grid-template-areas:
    "F . . . P"
    "F C C C P"
    "F C C C P"
    "F C C C P"
    "F . . . P";
    width: 100vh;
} */