/* .clipboard{
    background-image: url(../../assets/clipboard.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 500px;
    width: 250px;
} */

.showStudents {
    text-align: center;
    display: grid;
    grid-template-areas:
    "C C C C"
    "C C C C"
    "C C C C"
    ". F P ."
    ". F P .";
    width: 100vh;
}

.clipboard-border {
    grid-area: C;
    margin: 13% 5%;
    width: 90vw;
    height: 60vh;
    background-image: url(../../assets/clipboard.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 0 auto;
    margin-top: 13%;
    display: flex;
    background-color: rgb(114, 56, 9);
    height: 75vh;
    width: 75vw; */
}

.clipboard {
    margin: 2% auto;
    padding-top: 10%;
    height: 70%;
    width: 80%;

    /* margin: auto;
    background-color: white;
    height: 90%;
    width: 90%; */
}

.column-title > a{
    text-align: center;
}
.students-list {
    height: 65%;
    overflow: auto;
}

.student {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.student-comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filterButtons-container {
    grid-area: F;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.periodButtons-container {
    grid-area: P;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.button {
    margin: 5% auto;
}
/* Media Query
after.showStudents {
    text-align: center;
    display: grid;
    grid-template-areas:
    "F . . . P"
    "F C C C P"
    "F C C C P"
    "F C C C P"
    "F . . . P";
    width: 100vh;
} */