@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.footer {
    font-family: 'Indie Flower', cursive;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}