@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Schoolbell&display=swap');

.homepage {
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh;
    width: 100vw;
}

.board-border {
    margin: 13% 5%;
    /* margin-top: 13%; */
    display: flex;
    /* background-color: gold; */
    width: 90%;
    height: 90%;
    background-image: url(../../assets/_chalkboard.png);
    /* background-image: url(../../assets/chalkboard_.png); */
    background-size: 100%;
    /* background-image: url('https://cdn.pixabay.com/photo/2014/04/02/17/03/blackboard-307799__340.png'); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-color: gold;
    height: 80%;
    width: 95%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    align-content: center; */
}

.board {
    margin: 4% auto;
    /* background-color: green; */
    height: 59%;
    width: 90%;
    display: grid;
    grid-template-rows: 2fr 8fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-areas:
    ". . T T . ."
    ". . Q Q . ."
    ". . Q Q . ."
    ". . . . . ."
    ". . . . R R"; */
    /* background-color: green;
    height: 80%;
    width: 95%; */
}

#quote-title {
    grid-column: 1/6;
    grid-row: 1;
    margin: auto;
    margin-top: 10%;
    font-family: 'Schoolbell', cursive;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#quote {
    grid-column: 1 / 6;
    grid-row: 2;
    margin: auto;
    font-family: 'Schoolbell', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: left;
} 

.studentRoster {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
    border-radius: 6%;
    background-color: rgb(100, 6, 6);
    color: white;
    font-family: 'Gentium Book Basic', serif;
    /* width: 125px; */
    padding: 1px 7px;
    justify-content: center;
    /* margin-right: 10%; */
}

.studentRoster > a {
    color: white;
    text-decoration: none;
}