@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Schoolbell&display=swap');


.homepage {
    background-color: rgb(150, 14, 14);
    border: 2px solid rgb(94, 6, 6);
    width: 80vw;
    height: 70vh;
    border-radius: 5%;
}

.roster-book {
    width: 80%;
    height: 25%;
    margin: 10% auto;
    border-radius: 5%;
    border: 2px solid white;
    color:white;    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Schoolbell', cursive;
}


.roster {
    font-size: 25px;
} 

/* --------------------iPAD--------------------*/
@media only screen and (min-width: 700px) {

    .homepage {
        width: 60vw;
    }

} 

/* --------------------LAPTOP-------------------- */
@media only screen and (min-width: 1000px) {
    
    .homepage {
        width: 40vw;
    }

}
 
/* --------------------DESKTOP-------------------- */
@media only screen and (min-width: 1200px) {
    
    .homepage {
        width: 35vw;
    }
}