.student-details {
    margin: 5% auto;
}

.clipboard-border {
margin: 0 auto;
}

.details-clipboard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 10% auto;
}

.details-button {
    display: flex;
    justify-content: space-around;
}

.student-info {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.student-comments {
    height: 35%;
    overflow: auto;
    margin-top: 5%;
    padding: 2% 5%;
}

.trash {
    display: none;
}

.student-comments:hover + .trash {
    display: block;
}

.remove-button,
.edit-button {
    padding: 3%;
    font-weight: bold;
}

