@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Schoolbell&display=swap');

.loginPage {
    height: 100vh;
    width: 100vw;
    background-image: url("https://media.gettyimages.com/photos/red-brick-high-school-building-exterior-picture-id171306436?k=6&m=171306436&s=612x612&w=0&h=alQojJnb4yqK7b8dKXcgiYu_jwCoqjSa17-tn7z_5rY=");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    font-family: 'Schoolbell', cursive;

}

.login-form {
    width: 95%;
    margin: auto 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.title {
    font-size: 30px;
}

.register-link {
color: white;
}

.login-button {
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 15%;
    background-color: rgb(100, 6, 6);
    background-color: rgb(100, 6, 6);
    border-radius: 10px;
    color: white;
    font-family: 'Schoolbell', cursive; 
    font-size: bold;
    padding: 2%;
}

/* --------------------iPAD-------------------- */
@media only screen and (min-width: 768px) {
    .login-form {
        width: 65%;
        padding: 2%;    
    }

    .login-title {
        font-size: 40px;
    }

    .login-inputs,
    .register-link,
    .login-button {
        font-size: 25px;
    }

    .login-button {
        padding: 2%;
    }
    
    .input {
        width: 50%;
        padding: 1.5%;
        background-color: rgb(255, 255, 255, 0.7);
        font-family: 'Schoolbell', cursive;
        font-weight: bold;
    }
}

/* --------------------LAPTOP-------------------- */
@media only screen and (min-width: 1075px) {
    .login-form {
        width: 50%;
    }

    .login-title {
        font-size: 50px;
    }

    .login-button {
        padding: 0.5%;
    }
    
    .input {
        padding: 1%;
    }
}

/* --------------------DESKTOP-------------------- */
@media only screen and (min-width: 1700px) {
    .login-form {
        width: 35%;
    }

}